/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
background-color: darkgrey;
/* margin-top: 100px; */
margin-bottom: 100px;
margin-right: 150px;
margin-left: 80px;
background-image: url(C:\Users\brady\Desktop\Marios\app\assets\images\pngwing.com.png), linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
background-size: cover;
/* background-repeat: no-repeat; */
background-position: right;
font-family: 'Bangers', cursive;
text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;

}
.container-fluid{
  background-color: rgb(140, 63, 4);
}

#intro{
  color: aliceblue;
}
#dropdownMenuButton1{
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
  text-align: center;
  width:100%;   
  color: aliceblue;
  background-color: rgb(140, 63, 4);
}
#dropdownMenuButton2{
  width:100%;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
  color: aliceblue;
  background-color: rgb(140, 63, 4);
}
#dropdownMenuButton3{
  width:100%;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
  color: aliceblue;
  background-color: rgb(140, 63, 4);
}
#dropdownMenuButton4{
  width:100%;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
  color: aliceblue;
  background-color: rgb(140, 63, 4);
}
#mario{
  width:350px; 
  height:350px;     
  border-width: 8px;
  border-style:ridge;
  border-width: 10px;
  border-radius: 10px;
  border-radius: 50%;
  border-color: rgb(140, 63, 4);
  box-shadow: 0 20px 40px rgba(4, 0, 0, 0.19), 0 12px 12px rgba(72, 10, 10, 0.23);
}
.navbar-brand{
  color: rgb(250, 33, 5);
}
#form{
  color: rgb(5, 250, 91);
}
#title-text{
  color: rgb(250, 33, 5);
}
#star{
  width:25px; 
  height:25px; 
}